*, *:before, *:after {
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
html {
  font-family: sans-serif;
  font-size:1px;
}
body {
  font-size:10rem;
}
.mapComponent {
  padding: 15px;
  background:rgba(0,0,0,.1);
}
.clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
button {
  cursor: pointer;
}
img {
  display:block;
  max-width:100%;
}
#map-container {
  position:relative;
  height:300px;
}
#theMap {
  position:absolute;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
}
#search-holder {
  background:white;
  position:absolute;
  right: 10px;
  top: 10px;
  left: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  border-radius:5px;
}
#search-holder #search-input {
  display:block;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  height: 50px;
  background:none;
  width: 100%;
  padding: 0px 10px;
  font-size: 25px;

}


.category-component {

  width:300px;
  padding-left:15px;
}
.category-component h4 {
  font-size: 14rem;
  font-weight:bold;
  margin-bottom: 1em;
  color:rgba(0,0,0,.7);
  padding-top:15px;
}
.points-component {


  width: calc(100% - 315px);
}
.category-component, .points-component {
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  overflow:hidden;
}
.drag-handle {
  opacity:0;
  position:absolute;
  left: 0;
  top: 0;
  width:100%;
  height: 100%;
  cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.drag-handle:hover {
  opacity:1;
}
.drag-handle .icon {
  position: absolute;
  right: 10px;
  top:50%;
  width:15px;
  height:14px;
  transform: translateY(-50%);
}
.drag-handle .icon:before, .drag-handle .icon:after, .drag-handle .icon hr {
  display:block;
  content: '';
  width:100%;
  height: 3px;
  background:rgba(0,0,0,.1);
  left: 0;
  top: 0;
  position:absolute;
}
.drag-handle .icon:after {
  top: auto;
  bottom: 0;
}
.drag-handle .icon hr {
  top:50%;
  transform: translateY(-50%);
}
.btn-class {
  display:inline-block;
  background: blue;
  border-radius: 3px;

  font-weight: bold;
  color:white;
  font-size:12rem;
  text-transform: uppercase;
  padding: 7px 10px;
}
.btn-class.secondary {
  background:rgba(0,0,0,.2);
  color:rgba(0,0,0,.9);
  box-shadow: none;
}
.btn-class[disabled] {
  opacity:.5;
}
.delete-btn {
  font-size:11px;
  font-weight:bold;
  margin-top:1em;
  color:red;
  text-decoration: underline;
}
.input-field label {
  font-size: 12rem;
  color:rgba(0,0,0,.9);
  font-weight:bold;
  margin-bottom:.5em;
  display:block;
}
.input-field input {
  font-size: 18rem;
  display:block;
  width: 100%;
  padding: 0 0 5px 0;
  border-bottom:3px solid blue;
}
.input-field[data-empty="true"] input {
  border-color: rgba(0,0,0,.2);
}

.category-item {
  position:relative;
  padding: 15px 0 15px 40px;

}
.category-item:after {
  position:absolute;
  right:0;
  bottom: 0;
  display:block;
  content:'';
  height:1px;
  width:calc(100% - 40px);
  background: rgba(0,0,0,.1);
}

.category-item .category-title {
  font-size:16rem;

  margin-right:45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category-item > .edit-bubble {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position:absolute;
  left: 0;
  top: 50%;
  margin-top:-15px;
}
.category-item > .edit-bubble .icon {
  display:block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  display:none;
}
.category-item > .edit-bubble .icon[data-hover="true"] {
  display:block;
}
.sortable-chosen .category-item > .edit-bubble .icon {
  display:none !important;
}
.category-item > .edit-bubble .icon svg{
  display:block;
  width:100%;
  height:100%;
}
.category-item > .edit-bubble .icon.dark svg * {
  fill:black;
}
.category-item .category-controls {
  display:none;
}
.category-component .footer {
  padding:15px;
  text-align:right;
}

.category-form {
  margin: 15px 15px 0px 0;
  padding-bottom: 25px;
  position:relative;
}
.category-form:after {
  position:absolute;
  right:0;
  bottom: 0;
  display:block;
  content:'';
  height:1px;
  width:calc(100% - 40px);
  background: rgba(0,0,0,.1);
}
.category-form .fields {
  position:relative;
  padding: 0 0 0 40px;
}
.category-form .fields .sp-replacer {
  position:absolute;
  left: 5px;
  top:50%;
  transform:translatey(-50%);
  padding: 0;
  border: 0;
}
.category-form .fields .sp-dd {
  display:none;
}
.sp-input {
  background:white;
}
.category-form .fields .sp-preview {
  width: 20px;
  height:20px;
  margin: 0;
  border:0;
}
.category-form .sub-form-footer {
  text-align:right;
  margin: 25px 0 0 40px;
}
.category-form .sub-form-footer button {
  margin-left:5px;
}

.mapComponent.currently-editing .categoryItem:not(.currently-editing) {
  pointer-events: none;
}
.empty-points {
  width: calc(100% - 40px);
  margin: 0 auto;
  border-radius: 3px;
  background: rgba(0,0,0,.1);
  padding: 20px;
  font-size: 14rem;
}
.empty-points img {
  width: 25%;
  margin: 0 auto;
}
[data-dragging="true"] .category-item > .edit-bubble .icon, [data-dragging="true"] .drag-handle {
  display:none !important;
}
.point-form {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.points-component > .pointItem .point-form, {
  border-bottom:0;
}
.point-form .FormFooter {
  padding: 15px;
  text-align: right;
}
.point-form .FormFooter button{
  margin-left:5px;
}
.point-form-header {
  padding:15px;
}
.point-form-header .input-field {
  float:left;
  width: calc(50% - 10px);
  margin-right:10px
}
.point-form-header .select-field {
  float:left;
  width: calc(50% - 10px);
  margin-left:10px;
  position:relative;
}
.point-form-header .select-field select {
  position:absolute;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
  opacity:0;
  cursor:pointer;
}
.point-form-header .select-field .cat-name {
  font-size: 18rem;
  display:block;
  width: 100%;
  padding: 0 0 5px 0;
  border-bottom:3px solid blue;
  padding-right:40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position:relative;
}
.point-form-header .select-field .cat-name:after {
  display:block;
  line-height:1;
  content:'\25E3';
  font-size:14px;
  position:absolute;
  right: 5px;
  top: 2px;
  transform: rotate(-45deg);
}

.points-component .footer {
  padding:15px;
  text-align:right;
}
.category-block h4.cat-heading {
  padding: 15px;
  border-bottom:1px solid rgba(0,0,0,.1);
  font-size:14rem;
  color:rgba(0,0,0,.7);
}
.point-item {
  position:relative;
  padding:5px 15px;
  border-bottom:1px solid rgba(0,0,0,.1);
}


/* NEW STUFF */
.points-component[data-editing="true"] .pointItem:not(.currently-editing), .categories-component[data-editing="true"] .categoryItem:not(.currently-editing) {
  pointer-events: none;
  opacity:.25;
}
